<section class="about__page">
    <div>
        <img src="https://camo.githubusercontent.com/5fcd1cca5df3c87f6c89929a125fb8399369f6e89526258443b3ed30f279f331/68747470733a2f2f36342e6d656469612e74756d626c722e636f6d2f74756d626c725f6d63306f747a6a5a414d3172317272787a6f315f3530302e676966" alt="Juferoga"align="left" width="230px" height="192px" rel="preload" as="image"/>
        <img align="left" width="0" height="192px" hspace="10"/>
    </div>
    <div class="info">
        <h1 class="tittle orange">
            Rick & Morty Aplicación con GraphQLModule
        </h1>
        <div class="about__container">
            <p>
                Aplicación para practicar angular, esta vez utilizando Angular 11 y <a href="rickandmortyapi.com">la api de Rick y Morty</a>
                En esta practica, recorde 
                - Conceptos básicos como: creación de App de angular, creación de componentes, creación de modulos.
                - Entre otros: como manejo de APIs, routing, generics en TS, etc...
                Bueno hasta aquí la descripción del proyecto :3
            </p>
        </div>
    </div>
    <a href="https://github.com/juferoga" class="about__copy">
        Desarrollado por <span class="text-orange">Juferoga</span>.
    </a>
</section>
